<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="footerStyle.css" rel="stylesheet" />
</head>
<body>
    <div id="footer">
        <section>
            <h2>За Университета</h2>
            <ul>
                <li><a>За нас</a></li>
                <li><a>Преподаватели</a></li>
                <li><a>Общежития</a></li>
            </ul>
        </section>
        <section>
            <h2>Приятели</h2>
            <ul>
                <li><a>Софтуерен Университет</a></li>
                <li><a>Учителят</a></li>
                <li><a>Книги, които трябва да назубриш!</a></li>
            </ul>
        </section>
        <section>
            <h2>За контакти</h2>
            <ul>
                <li><a>Нели Йорданова</a></li>
                <li><a>Салих Алишов</a></li>
                <li><a>...</a></li>
            </ul>
        </section>
        <div id="headerDiv">TEAM PEAR / SOFTUNI / 2014</div>
    </div>
</body>
</html>
