<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link href="HeaderStyle.css" rel="stylesheet" />
    <title></title>
</head>
<body>
    <header id="header">
        <h1>SmurfUni</h1>
        <nav>
            <ul>
                <li>Новини</li>
                <li>Курсове</li>
                <li>Вицове</li>
                <li>Снимки</li>
                <li>Дарения<!--Как да се казва тази секция--></li>
                <li>За нас</li>
            </ul>
        </nav>
    </header>
</body>
</html>
