@font-face {
    font-family: 'CinzelDecorative-Regular';
    src: url('fonts/cynzel/CinzelDecorative-Regular.otf') format('opentype');
}
@font-face {
    font-family: 'CaviarDreams';
    src: url('fonts/Calviar_cy/CaviarDreams.ttf') format('truetype');
}
body {
    margin: 0;
    padding: 0;
    header{
        height: 50px;
        background-color: #1253a4;
        margin: 0;
        padding: 0;
        width: 100%;
        h1{
            font-family: CinzelDecorative-Regular;
            margin: 0;
            color: #d2dbff;
            display: inline-block;
            vertical-align:middle;
            line-height: 50px;
            margin-left: 1%;
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
        }
        h1:hover{
            color: #1253a4;
            background-color: #d2dbff;
            cursor: pointer;
            transition: 0.3s linear;
                    -webkit-transition: 0.3s linear;
        }
        nav{
            display: inline-block;
            width: 80%;
            vertical-align: middle;
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            ul{
                text-align: right;
                list-style-type: none;
                display: inline-block;
                padding: 0;
                margin:0;
                width: 100%;
                li{
                    cursor: pointer;
                    color:white;
                    font-family: CaviarDreams;
                    display: inline-block;
                    min-width: 11%;
                    line-height: 50px;
                    font-size: 20px;
                    text-align: center;
                    vertical-align: middle;
                    box-sizing: border-box;
                    -webkit-box-sizing: border-box;
                }
                li:hover{
                    background-color: #f26964;
                    transition: 0.3s linear;
                    -webkit-transition: 0.3s linear;
                }
            }
        }
    }
}
