body {
        margin-top: 90px;
    .wrapper{
        width: 80%;
        margin: 0 auto;
        img{
                    margin: 0 auto;
            margin-top: 30px;
            width: 50%;
            display: block;
        }
    }
}
