@mixin center{
     width: 80%;
    margin: 0 auto;
}
body {
    .header{
        position: absolute;
        top:0;
    }
   // background-color: rgba(17, 64, 121, 0.56); 
    .wrapper{
       @include center;
        article{
            margin: 3% 0;
            border: 1px solid #1253a4;
            padding: 1%;
            border-radius: 5px;
        }
    }
}
