*{
margin: 0;
padding: 0;
}

a{
	text-decoration: none;
	color: #ffffff;
}

body {
    font-family: tahoma, sans-serif;
	color: #ffffff;
	background-color: #eeeeee;
	position: relative;
	}
	
header{
    height: 100px;
    background-color: #234465;
	position: relaive;
	}

#nav-header{
	width: 500px;
	height: 100px;
	float: right;
	vertical-align: center;
	margin: 25px 20px 25px 0;
}

header ul{
    list-style-type: none;
    display: table-cell;
}
header li {
    display: table-cell;
    width: 100px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    box-sizing: border-box;
}
li:hover{
    background-color: #ee7500;
    transition: 0.3s linear;
    border: 1px solid #c37802;
}

footer{
	background-color: #234465;
    margin: 0;
    padding: 0;
    position: relative;
    bottom: 0;
    right: 0;
    left: 0;
}
#col1,#col2,#col3{
	display: inline-block;
	width: 300px;
	height: 200px;
}
footer h2{
	height: 50px;
	padding-top: 10px;
	padding-left: 10px;
}
footer ul{
	position: absolute;
	padding-left: 20px;
}
footer li {
    display: block;
	height: 50px;
    font-size: 20px;
	padding-top: 10px;
	text-align: left;
    box-sizing: border-box;
}

#headerDiv{
    color: white;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
}

section{
	font-size: 1.5em;
	color: #000000;
	position: relative;
}

section img{
	margin: 40px;
	display: inline-block;
}
article{
	position: relative;
}
article div{
	position: absolute;
	top: 100px;
	width: 600px;
	display: inline-block;
	margin: 40px;
	border: 5px solid #ffffff;
	border-radius: 30px;
	padding: 15px;
}
